<a href="/">
    <h1>LOGO</h1>
</a>

<style>
    .navbar-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
</style>

<p>Hello {{request.user}}</p>
<div class="navbar-container">
    <div>
        {% if request.user.is_authenticated %}

        <h3><a href="{% url 'logout' %}">Logout</a></h3>

        {% else %}

        <h3><a href="{% url 'login' %}">Login</a></h3>
        {% endif %}
    </div>

    <div>
        <h3><a href="{% url 'profile' %}">Profil</a></h3>
    </div>
</div>

<hr>