{% extends 'main.html' %}

{% block content %}

<style>
    .book-item {
        display: flex;
        align-items: center;
    }

    .book-checkbox {
        margin-right: 10px;
    }
</style>

<!--#następnie zmiana availability na false,-->
<div>
    <h3>Oto dostępne obecnie ksiażki. </h3>
    <h4>Zaznacz, które pozycje chcesz wypożyczyć</h4>
    <hr>

    <form method="post">
        {% csrf_token %}
        {{ form }}

        {% for book in books %}
        <div class="book-item">
            <div class="book-checkbox">
                <input type="checkbox" name="book_ids" value="{{ book.id }}">
            </div>
            <h5>{{ book.id }} - {{ book.title }} - {{ book.author }}</h5>
        </div>
        {% empty %}
            <p>Brak dostępnych książek.</p>
        {% endfor %}

        <div>
            <button type="submit">Wypożycz</button>
        </div>
    </form>

</div>

{% endblock %}