{% extends 'main.html' %}

{% block content %}

<style>

    .book-table {
        display: table;
        width: 100%;
    }

    .book-row {
        display: table-row;
    }

    .book-cell {
        display: table-cell;
        padding: 5px;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
    }
</style>

<div>
    <h3>Lista dostępnych obecnie ksiażek. </h3>
    <h4>Zaznacz pozycje które chcesz wypożyczyć</h4>
    <hr>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <div class="book-table">
            <div class="book-row">
                <div class="book-cell">Zaznacz</div>
                <div class="book-cell">Tytuł</div>
                <div class="book-cell">Autor</div>
            </div>
            {% for book in books %}
            <div class="book-row">
                <div class=book-cell"><input type="checkbox" name="book_ids"
                                             value="{{ book.id }}"></div>
                <div class="book-cell">{{book.title}}</div>
                <div class="book-cell">{{book.author}}</div>
            </div>
            {% empty %}
                <p>Brak dostępnych książek.</p>
            {% endfor %}
        </div>
        <div>
            <button type="submit">Wypożycz</button>
        </div>
    </form>

</div>

{% endblock %}