{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        <h3>Witaj w wirtualnej wypożyczalni książek</h3>
        <p>Zaloguj się, aby wypożyczyć lub zwrócić ksiażkę</p>
    </div>

    <div>
        <a>Przykładowe książki dostępne w bazie</a>
        <hr>
        {% for book in books %}
        <div>
            <h5>{{book.id}} -- {{book.name}}</h5>
        </div>
        {% endfor %}
        <a href="http://127.0.0.1:8000/rent">Chcę zobaczyć wszystkie</a>

    </div>
</div>
{% endblock %}