{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        <h3>Witaj w wirtualnej wypożyczalni książek.</h3>
        <p>Zaloguj się, aby wypożyczyć lub zwrócić ksiażkę</p>
    </div>

    <div>
        <p>Przykładowe książki dostępne w bazie</p>
        <hr>
        {% for book in books|slice:":10" %}
        <div>
            <h5>{{book.id}} - {{book.title}} - {{book.author}}</h5>
        </div>
        {% endfor %}
        <a href="http://127.0.0.1:8000/book-list">Chcę zobaczyć wszystkie</a>

    </div>

    <div>
        {% if request.user.is_superuser %}
        <a href="{% url 'add-book' %}"><button>DODAJ KSIĄŻKĘ DO BAZY</button><br></a>
        {% endif %}
        <a href="{% url 'borrow' %}"><button>WYPOŻYCZ KSIĄŻKĘ</button><br></a>
        <a href="{% url 'return-book' %}"><button>ZWRÓĆ KSIĄŻKĘ</button><br></a>
    </div>
</div>
{% endblock %}