{% extends 'main.html' %}

{% block content %}

<style>
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
</style>
<!--powiązać model ksiazki z pozyczaniem-->
<div class="profile-container">
    <div>
        <h3>Oto lista wypożyczonych książek</h3>
            {% for book in books %}
                <div>
                    <h5>{{book.id}} - {{book.title}} - {{book.author}}
                        </h5>
                </div>
            {% empty %}
                <p>Nie masz wypożyczonych książek.</p>
            {% endfor %}
    </div>

    <div>
        {% if request.user.is_superuser %}
        <a href="{% url 'add-book' %}"><button>DODAJ KSIĄŻKĘ DO BAZY</button><br></a>
        {% endif %}
        <a href="{% url 'borrow' %}"><button>WYPOŻYCZ KSIĄŻKĘ</button><br></a>
        <a href="{% url 'return-book' %}"><button>ZWRÓĆ KSIĄŻKĘ</button><br></a>
    </div>
</div>

{% endblock %}