{% extends 'main.html' %}

{% block content %}

<style>
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
</style>
<!--powiązać model ksiazki z pozyczaniem-->
<div class="profile-container">
    <div>
        <h3>Oto lista wypożyczonych książek</h3>
            {% for book in books %}
                <div>
                    <h5>{{book.id}} - {{book.title}} - {{book.author}}
                        - {{book.borrowed_date}} - {{book.due_date}}</h5>
                </div>
            {% empty %}
                <p>Nie masz wypożyczonych książek.</p>
            {% endfor %}
    </div>

    <div>
        <p> przyciski zwrocenia, pozyczenia?</p>
    </div>
</div>

{% endblock %}